input{

width: 100%;
margin-bottom: 20px;
border-color: rgb(9, 225, 99);
box-sizing: border-box;
padding: 10px;
}
body{

    /* text-align: center; */
    margin: 30px;
    min-width: 400px;
}
button{

    color: aliceblue;
    background-color: green;
    padding: 6px 20px;
    font-weight: bold;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
ul{
    padding-left: 0;

}
li{
list-style: none;
 padding-bottom: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
#delete-btn{

    border: 2px solid green;
    color: green;
    background-color: rgb(255, 255, 255);
    padding: 6px 20px;
    font-weight: bold;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a{

    color: rgb(97, 161, 0);
}